@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #444;
}

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.5rem;
}

.h4 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #888;
}

.button {
  cursor: pointer;
  border: 0;
  padding: 0.75em 1.25em;
  border-radius: 5em;
}

.button--primary {
  background-color: dodgerblue;
  color: white;
}

.button--secondary {
  background-color: white;
  color: dodgerblue;
  border: solid 1px;
}

.button--danger {
  background-color: indianred;
  color: white;
}

.button:hover {
  opacity: 0.8;
}