@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #444;
}

.h1 {
  font-size: 3rem;
  line-height: 1.15;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.5rem;
}

.h4 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #666;
}

.p {
  max-width: 60ch;
  line-height: 1.5;
  color: #666;
}

.button {
  cursor: pointer;
  border: 0;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  line-height: 1;
  transition: opacity 150ms ease-in-out;
  border: solid 1px transparent;
}

.button--primary {
  background-color: #0073e6;
  color: white;
}

.button--secondary {
  background-color: white;
  color: #666;
  border: solid 1px #ccc;
}

.button--danger {
  background-color: #c74848;
  color: white;
}

.button:hover {
  opacity: 0.8;
}