@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #444;
}


/* RESET */
* {
  margin: 0;
}

button {
  border: 0;
  padding: 0;
  line-height: 1;
  white-space: nowrap;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

/* TYPOGRAPHY */

.h1, .markdown h1 {
  font-size: 3rem;
  line-height: 1.15;
}

.h2, .markdown h2 {
  font-size: 2rem;
}

.h3, .markdown h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #666;
}

.p, .markdown p {
  max-width: 60ch;
  line-height: 1.5;
  color: #666;
}

.markdown {
  display: flex;
  flex-direction: column;
  max-width: 60ch;
  gap: 1rem;
}

/* BUTTONS */

.button {
  font-size: 14px;
  padding: 0.5em 1.25em;
  border-radius: 0.25rem;
  transition: opacity 150ms ease-in-out;
  border: solid 1px transparent;
}

.button--primary {
  background-color: #0073e6;
  color: white;
}

.button--secondary {
  background-color: white;
  color: #666;
  border: solid 1px #ccc;
}

.button--danger {
  background-color: #c74848;
  color: white;
}

.button:hover {
  opacity: 0.8;
}


/* TABS */
.tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tabs__header {
  display: flex;
  flex-direction: row;
}

.tabs__button {
  position: relative;
  font-size: 14px;
  padding: 0.5rem 1.25rem;
  background: white;
  border: solid 1px #ccc;
  border-right: 0;
  border-bottom: 0;
  font-weight: bold;
}

.tabs__button:first-child {
  border-top-left-radius: 0.25rem;
}

.tabs__button:last-child {
  border-right: solid 1px #ccc;
  border-top-right-radius: 0.25rem;
}

.tabs__button--selected {
  background-color: #0073e6;
  border-color: #0073e6;
  color: white;
}

.tabs__content {
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: solid 1px #ccc;
  border-radius: 0.25rem;
  border-top-left-radius: 0;
}